body {
    width: 182px;
    height: 500px;
    background-color: #000000;
    font-family: sans-serif;
}
#heading{
    top: 20px;
    margin-left: 9px;
    margin-top: 35px;
    margin-bottom: 10px;
    display: block;
    transition: 0.2s;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
hr{
    width: 165px;
    color: white;
    margin-left: 9px;
}
option{
    background-color: #000000;
    height: 15px;
    color: white;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.buttons{
    cursor: auto;
    margin: 8px;
    margin-left: 9px;
    height: 25px;
    width: 165px;
    font-size: 15px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgb(95, 25, 141);
    
}


.btn {
    background-color: #b37c18;
    cursor: pointer;
    margin: 8px;
    margin-left: 9px;
    height: 25px;
    font-size: 16px;
    font-family: sans-serif;
    border: none;
}


.btn-2 {
    background-color: #26c018;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 9px;
    height: 25px;
    width: 165px;
    font-size: 15px;
    color: white;
    border: none;
}

.c{
    margin: 8px;
    margin-left: 9px;
    font-size: 14px;
    height: 25px;
    width: 165px;
    background-color: #c6da17;
    border: none;
    color: white;
}

#amount-two{
    margin: 8px;
    margin-left: 9px;
    height: 20px;
    width: 165px;
    font-size: 15px;
    margin-left: 9px;
    background-color:  rgb(192, 25, 164);
    color: black;
    padding-top: 10px;
    padding-left: 5px;
}

.press{
    text-align: center;
    font-size: 14px;
}

#heading2{
    top: 40px;
    margin-left: 9px;
    margin-top: 25px;
    margin-bottom: 10px;
    display: block;
    transition: 0.2s;
    font-size: 15px;
    color: rgb(209, 86, 86);
    font-family: sans-serif;
}

.btn-3{
    cursor: auto;
    margin: 8px;
    margin-left: 9px;
    height: 25px;
    width: 165px;
    font-size: 15px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgb(161, 12, 12);
    
}
#num1{
    margin: 8px;
    margin-left: 9px;
    height: 25px;
    width: 150px;
    font-size: 15px;
    margin-left: 9px;
    background-color:  rgb(25, 56, 192);
    color: black;
    padding-top: 10px;
    padding-left: 5px;
}
#num2{
    margin: 8px;
    margin-left: 9px;
    height: 25px;
    width: 150px;
    font-size: 15px;
    margin-left: 9px;
    background-color:  rgb(25, 56, 192);
    color: black;
    padding-top: 10px;
    padding-left: 5px;
}
#num3{
    margin: 8px;
    margin-left: 9px;
    height: 25px;
    width: 150px;
    font-size: 15px;
    margin-left: 9px;
    background-color:  rgb(25, 56, 192);
    color: black;
    padding-top: 10px;
    padding-left: 5px;
}